{
  "swagger": "2.0",
  "info": {
    "version": "0.1.0",
    "title": "Tourney API",
    "description": "API for the tourney application",
    "contact": {
      "name": "Tourney API Team"
    },
    "license": {
      "name": "MIT"
    }
  },
  "host": "tourney.tools",
  "basePath": "/api",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/tournament": {
      "get": {
        "summary": "Returns all of the tournaments in the system",
        "operationId": "findTournaments",
        "responses": {
          "200": {
            "description": "Tournament response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Tournament"
              }
            }
          }
        }
      },
      "post": {
        "summary": "Creates a new tournament",
        "operationId": "addTournament",
        "parameters": [
          {
            "name": "tournament",
            "in": "body",
            "description": "Tournament to add to the system",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewTournament"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tournament response",
            "schema": {
              "$ref": "#/definitions/Tournament"
            }
          }
        }
      }
    },
    "/tournament/{id}": {
      "get": {
        "summary": "Returns the specific tournament",
        "operationId": "getTournamentByID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the tournament to fetch",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tournament response",
            "schema": {
              "$ref": "#/definitions/Tournament"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Tournament": {
      "description": "Holds information about the tournament",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/NewTournament"
        }
      ],
      "properties": {
        "id": {
          "type": "string",
          "x-format": "hash"
        }
      }
    },
    "NewTournament": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "x-format": "hash",
          "description": "Key used to allow admin to the tournament"
        },
        "name": {
          "type": "string",
          "description": "Name of the tournament"
        },
        "date": {
          "type": "string",
          "format": "date-time",
          "description": "Date the tournament is taking place"
        },
        "official": {
          "type": "string",
		  "x-format": "name",
          "description": "Person who is officiating the tournament."
        }
      }
    },
    "ErrorModel": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
